{% extends 'app/base.html' %}

{% block title %}Информация{% endblock %}

{% block nav_menu %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %}">Главная страница</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'private_start' %}">Личный кабинет</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'about' %}">Информация</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<h1>Краткое описание сайта DocsExchanger</h1>
<div class="info">
    <p>Веб-приложение написано на языке Python с использованием фреймворка Django. DocsExchanger — ресурс для обмена
        документами.</p>
    <h2>Функционал веб-приложения:</h2>
    <ol>
        <li>На главной странице есть список загруженных документов от пользователей в виде списка с возможностью их
            скачать
            и поставить рейтинг (+/-).</li>
        <li>Имеется возможность регистрации новых пользователей системы и вход в личный кабинет.</li>
        <li>В личном кабинете пользователя отображается логин пользователя, выход из личного кабинета, список
            документов,
            загруженных пользователем. Есть возможность загрузить новый документ, удалить уже загруженный документ и
            изменить доступ к документу. Также предусмотрена возможность редактирования описания документа.</li>
        <li>В базе данных веб-приложения есть две таблицы: Users и Docs, между которыми имеется отношение один ко
            многим. В
            таблице Users хранятся данные пользователя (логин и пароль). В таблице Docs хранятся данные загруженных
            документов.</li>
    </ol>
</div>
{% endblock %}